.QuizList {
  list-style-type: none;
  padding: 0;
}

.QuizAnswer {
  list-style-type: none;
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  word-break: break-all;
}

.QuizAnswer:hover {
  background: #adc6ff;
  transition-duration: 200ms;
}